.container {
    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    min-width: 100vw;
    min-height: 100vh;
}

.rightside_page_render {
    min-width: 85%;
    min-height: 100%;
    background-color: red;
    padding-top: 0%;
}

.main_header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: brown;
    min-width: 100%;
    min-height: 15%;
    padding: 2.5%;
}

/* .main_header h1{
  position: absolute;
  /* background-color: blue; */
  /* margin-top: 2.5%;
  margin-left: 35%;
} */ */


/* NAV BAR */
.nav {
    /* flex box layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  

    background-color: #00acb0;
    overflow: hidden;
  
    min-width: 15%;
    min-height: 100%;
}


  .nav a {
    text-decoration: none;
  }
  
  .nav-title {
    font-size: 24px;
    font-weight: 700;
    color: #f2f2f2;
    padding-left: 10px;
    margin: 0;
  }
  
  .navLink {
    display: inline-block;
    color: #f2f2f2;
    background-color: #00acb0;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
  
    /* these last two make the logout button in
    the nav bar look like another link */
    border: none;
    cursor: pointer;
    outline: 0;
  }
  
  .navLink:hover {
    background-color: #008183;
  }
   