.container {
  background-color: grey;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  min-width: 100vw;
  min-height: 100vh;
}

.rightside_page_render {
  width: 85%;
  min-height: 100%;
  background-color: orange;
  padding-top: 0%;
}

.main_header {
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: orange;
  width: 95%;
  min-height: 15%;
  padding: 2.5%;
}

.clientCardFooter {
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: orange;
  width: 95%;
  min-height: 15%;
  gap: 5%;
}

/* .clientCardGrid {
  display: flex;
  justify-content: flex-start;
  background-color: orange;
  width: 100%;
  height: 35%;
  gap: 2%;
}

.clientCard {
 display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
} */


.clientCardFooterBtn {
  font-size: 25px;
  width: 30%;
  height: 70%;
  margin: 0%;
  border: 1px solid black;
  border-radius: 15px;
}

/* .main_header h1{
  position: absolute;
  /* background-color: blue; */
/* margin-top: 2.5%;
  margin-left: 35%;
} */
*/

/* NAV BAR */
.navBar {
  width: 100%;
  height: 100%;
}

.navFlexDiv {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: green; */
  height: 20%;
  width: 100%;
}

.navLogoText {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: orange;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: darkgoldenrod;
}