:root {

  --colorA: #FF9505;
  --colorB:#F1F2F9;
  --colorC: #FFB627;
  --colorD: #FFC971;
  --textColor: #0B2027;
  --borderPx1: 1px;
  --borderPx2: 0.5px;
}

/*
  FAE8EB lavender blush
  EDE3E4
  0B2027 rich black
*/


.viewportContainer {
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--textColor);
}



.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0%;
  width: 85%;
  min-height: 100%;
  background-color: white;
  padding-top: 0%;
  margin-left: 0%;
}

.mainHeader {
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--colorC);
  color: white;
  width: 100%;
  height: 15%;
  border: var(--borderPx1) solid black;
  border-left: 0px;
}

/* .mainFooter {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: orange;
  width: 100%;
  max-height: 10%;
  margin: 0%;
  padding: 0%;
} */

/* #red {
  background-color: red;
}

#blue {
  background-color: var(--cardColor2);
}

#green {
  background-color: var(--cardColor3);
} */


.clientCardGrid {
  background-color: var(--colorD);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1%;
  overflow-y: scroll;
  height: 75%;
  margin: 0%;
  padding: 1%;

}

.clientCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5%;
  font-size: 9px;
  border: var(--borderPx1) solid black;
  border-radius: 10px;
  min-width: 15%;
  max-width: 15%;
  height: 45%;
  flex-direction: column;

}

.clientInitialsDiv {
  background-color: white;
  width: 90%;
  border: 0.5px solid black;
  border-radius: 5px;
}

.dateDiv {
  background-color: white;
  width: 90%;
  border: 0.5px solid black;
  border-radius: 5px;
}

.startDateH3 {
  padding: 0%;
}

.to {
  padding: 0%;
}

.endDateH3 {
  padding: 0%;
}


.clientNoteDiv {
  background-color: white;
  width: 90%;
  border: 0.5px solid black;
  border-radius: 5px;
  min-height: 15%;
  max-height: 15%;
  overflow-y: scroll;
}



::-webkit-scrollbar {
  max-width: 1vw;
  max-height: .9vh;
}


::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  max-width: 1vw;
}

.clientCardFooter {
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--colorC);
  width: 100%;
  height: 10%;
  gap: 10%;
  margin: 0%;
  padding: 0%;
  border: var(--borderPx1) solid black;
  border-left: 0px;

}


.clientCardFooterBtn {
  font-size: 20px;
  width: 20%;
  height: 50%;
  margin: 0%;
  border: var(--borderPx1) solid black;
  border-radius: 15px;
  background-color: var(--colorB);
  color: var(--textColor);
}


/*Navbar stuff*/
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  min-height: 100%;
  background-color: var(--colorA);
  border: var(--borderPx1) solid black;
}


.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15%;
  width: 100%;
  background-color: var(--colorA);
  padding-top: 0.1em;
}

.navLogoText {
  font-size: 24px;
  font-weight: 700;
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

.navFlexDiv {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 79%;
  background-color: var(--colorA);
}


.navButton {
  background-color: var(--colorB);
  width: 85%;
  text-align: center;
  padding: 1em 0.5em;
  border: var(--borderPx1) solid black;
  border-radius: 10px;

}

.navLink:hover {
  background-color: darkgoldenrod;
}


.navbarFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10%;
  color: var(--textColor);
}


/* .formPanel {
  margin-top: 25%;
  background-color: red;
} */
/* ::-webkit-scrollbar {
  width: 2vw;
} */

/* ::-webkit-scrollbar-track {
  background-color: aqua;
}::-webkit-scrollbar-thumb {
background-color: bisque;
} */