:root {
    --cardColorAA: #EF5B5B;
    --cardColorBB: #08B2E3;
    --cardColor3CC: #7AC74F;
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: lightblue;
    padding: 1em;
    z-index: 1000;
    border-radius: 25px;
    border: 0.3em solid black;

    display: flex;
    justify-content: space-evenly;
    /*align items on the main axis*/
    align-items: flex-start;
    /*align items on the cross axis*/
    gap: 1em;

}


/*left side of modal*/
.leftSideOfModal {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: grey;
    width: 30%;
    height: 91%;
    border: 0.3em solid black;
    border-radius: 25px;
    padding: 2%;
}

.clientInitials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    font-size: 30px;
    background-color: white;
    height: 10%;
    border: 2px solid black;
    border-radius: 25px;
    text-transform: uppercase;
}

.timeWithCompany {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 15px;
    height: 14%;
    padding: 1%;
    margin-top: -1%;
}

.startDate {
    /* background-color: blue; */
    margin-top: .5%;
}

.to {
    /* background-color: blue; */
    margin-top: -6%;
}

.endDate {
    /* background-color: blue; */
    margin-top: -6%;
}


.clientNote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    height: 29%;
    word-break: break-all;
}


/*right side of modal*/
.rightSideOfModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align items on the main axis*/
    text-align: left;
    background-color: grey;
    width: 70%;
    height: 96.5%;
    padding: 1%;
    height: 94.5%;
    border: 0.3em solid black;
    border-radius: 25px;
}

.exitButton {
    width: 5%;
    height: 6%;
    margin-left: 94%;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 25px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    /* background-color: turquoise; */
    gap: 4%;
    padding: 1%;
    width: 98%;
    height: 12%;
}

.inputHeader {
    position: relative;
    display: flex;
    /* background-color: gray; */
    width: 95%;
    height: 30%;
    margin: 0%;
    margin-left: 2%;
    justify-items: center;
}

.inputElement {
    text-align: center;
    position: relative;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
    width: 95%;
    height: 55%;
    margin-left: 2%;
    margin-bottom: -10%;
}

/*TextArea*/
.textAreaElement {
    text-align: center;
    position: relative;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    width: 75%;
    max-height: 35%;
    margin-left: 2%;
    margin-bottom: -10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 1%;

    overflow-y: scroll;
    height: 50px;
    resize: none;
}


/*Colors*/
.colorDivElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
    width: 93%;
    height: 55%;
    margin-left: 2%;
    margin-bottom: -10%;
    padding-left: 3%;
}

.colorButton {
    display: inline;
    width: 3%;
    height: 50%;
    border: 1px solid black;
    border-radius: 25px;
}

#red {
    background-color: var(--cardColorAA);
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
/* #yellow {
    background-color: yellow;
}
#purple {
    background-color: purple;
} */


/*footerOfModal*/
.footerOfModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    /* background-color: red; */
}

/*Checkbox*/
.clientIsCurrentlySubscribed{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    display: inline-block;
    margin-left: -35%;
    text-align: center;
}

.checkboxHeader {
  font-size: 10px;
  text-align: center;
  margin-left: 
}

/* .checkboxElement {
} */

/*CreateClientCardButton*/
.createClientCardButton {
    display: inline-block;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
    width: 30%;
    height: 75%;
    margin-left: 6%;
}

